In [1]:
import numpy as np
import pandas as pd

In [14]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\admin\anaconda3\lib\site-packages (0.2.42)
Requirement already satisfied: pandas>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\admin\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)

In [22]:
import yfinance as yf
df = yf.download('005930.KS','2024-01-01','2024-08-23')
df.to_excel("삼성전자.xlsx")
df.to_csv("삼성전자.csv")

[*********************100%***********************]  1 of 1 completed

In [24]:
df

               Open     High      Low    Close     Adj Close    Volume
Date
2024-01-02  78200.0  79800.0  78200.0  79600.0  78888.054688  17142847
2024-01-03  78500.0  78800.0  77000.0  77000.0  76311.304688  21753644
2024-01-04  76100.0  77300.0  76100.0  76600.0  75914.882812  15324439
2024-01-05  76700.0  77100.0  76400.0  76600.0  75914.882812  11304316
2024-01-08  77000.0  77500.0  76400.0  76500.0  75815.781250  11088724
...             ...      ...      ...      ...           ...       ...
2024-08-16  79400.0  80200.0  78700.0  80200.0  80200.000000  22061478
2024-08-19  80100.0  80100.0  78000.0  78300.0  78300.000000  14146565
2024-08-20  79500.0  79800.0  78700.0  78900.0  78900.000000  10683836
2024-08-21  77900.0  78600.0  77800.0  78300.0  78300.000000   7805598
2024-08-22  78700.0  78900.0  77800.0  78300.0  78300.000000   8149101

[159 rows x 6 columns]